@charset "utf-8";
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  src: url("font/NotoSansKR-Regular-Hestia.eot"),
    url("font/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSansKR-Regular-Hestia.woff") format("woff"),
    url("font/NotoSansKR-Regular-Hestia.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR_B";
  font-style: normal;
  src: url("font/NotoSansKR-Bold-Hestia.eot"), url("font/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSansKR-Bold-Hestia.woff") format("woff"), url("font/NotoSansKR-Bold-Hestia.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR_M";
  font-style: normal;
  src: url("font/NotoSansKR-Medium-Hestia.eot"),
    url("font/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSansKR-Medium-Hestia.woff") format("woff"),
    url("font/NotoSansKR-Medium-Hestia.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR_L";
  font-style: normal;
  src: url("font/NotoSansKR-Light-Hestia.eot"),
    url("font/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSansKR-Light-Hestia.woff") format("woff"), url("font/NotoSansKR-Light-Hestia.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR_T";
  font-style: normal;
  src: url("font/NotoSansKR-Thin-Hestia.eot"), url("font/NotoSansKR-Thin-Hestia.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSansKR-Thin-Hestia.woff") format("woff"), url("font/NotoSansKR-Thin-Hestia.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "NotoSansKR", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
